<app-login-default
  description="Registrar-se!"
  primaryBtnText="Registrar-se"
  secondaryBtnText="Já tenho Acesso"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!signupForm.valid">
  <form [formGroup]="signupForm">
    <app-input-string
      formControlName="name"
      inputName="name"
      type="text"
      label="Nome completo"
      placeholder="John Doe">
      <span
        aria-label="icone pessoa"
        role="img"
        class="material-symbols-outlined">
        person
      </span>
    </app-input-string>
    <app-input-string
      formControlName="email"
      inputName="email"
      type="email"
      label="E-mail"
      placeholder="johndoe@gmail.com">
      <span
        aria-label="icone e-mail"
        role="img"
        class="material-symbols-outlined">
        mail
      </span>
    </app-input-string>
    <app-input-string
      formControlName="password"
      inputName="password"
      type="password"
      label="Senha">
      <span
        aria-label="icone chave de acesso"
        role="img"
        class="material-symbols-outlined">
        passkey
      </span>
    </app-input-string>
    <app-input-string
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Confirmar senha">
      <span
        aria-label="icone chave de acesso"
        role="img"
        class="material-symbols-outlined">
        passkey
      </span>
    </app-input-string>
  </form>
</app-login-default>
