<app-login-default
  description="Registrar-se MoveIt!"
  primaryBtnText="Registrar-se"
  secondaryBtnText="Já tenho Acesso"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!signupForm.valid">
  <form [formGroup]="signupForm">
    <app-input-string
      formControlName="name"
      inputName="name"
      type="text"
      label="Nome completo"
      placeholder="John Doe">
      <img src="./assets/icons/person-icon.svg" alt="icon pessoa" />
    </app-input-string>
    <app-input-string
      formControlName="email"
      inputName="email"
      type="email"
      label="E-mail"
      placeholder="johndoe@gmail.com">
      <img src="./assets/icons/email-icon.svg" alt="icon email" />
    </app-input-string>
    <app-input-string
      formControlName="password"
      inputName="password"
      type="password"
      label="Senha">
      <img src="/assets/icons/password-icon.svg" alt="icon password" />
    </app-input-string>
    <app-input-string
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Confirmar senha">
      <img src="/assets/icons/password-icon.svg" alt="icon password" />
    </app-input-string>
  </form>
</app-login-default>
