<app-login-default
  description="Acessar MoveIt!"
  primaryBtnText="Acessar"
  secondaryBtnText="Registe-se"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid">
  <form [formGroup]="loginForm">
    <app-input-string
      formControlName="email"
      inputName="email"
      type="email"
      label="E-mail"
      placeholder="johndoe@gmail.com">
      <img src="/assets/icons/email-icon.svg" alt="icon e-mail" />
    </app-input-string>
    <app-input-string
      formControlName="password"
      inputName="password"
      type="password"
      label="Senha">
      <img src="/assets/icons/password-icon.svg" alt="icon password" />
    </app-input-string>
    <span>Recuperar Senha</span>
  </form>
</app-login-default>
