<main class="content-login">
  <section class="content-login__left">
    <header>
      <figure>
        <img
          class="content-login__left--logo"
          src="./assets/images/logo-angular-mini.svg"
          alt="Logomarca Angular" />
      </figure>
      <h1 class="content-login__left--title">Poc Angular 17</h1>
    </header>

    <form class="content-login__left--form" [formGroup]="loginForm">
      <fieldset>
        <label for="email">E-mail:</label>
        <div class="input-with-icon">
          <input
            formControlName="email"
            type="email"
            id="email"
            name="email"
            placeholder="johndoe@gmail.com" />
          <span
            aria-label="icone e-mail"
            role="img"
            class="material-symbols-outlined">
            mail
          </span>
        </div>
      </fieldset>
      <fieldset>
        <label for="password">Senha:</label>
        <div class="input-with-icon">
          <input
            formControlName="password"
            type="password"
            id="password"
            name="password"
            placeholder="*******" />
          <span
            aria-label="icone password"
            role="img"
            class="material-symbols-outlined">
            password
          </span>
        </div>
      </fieldset>

      <button class="btn btn__primary bg__linear-gradient" type="button">
        Acessar
      </button>
    </form>
  </section>

  <section class="content-login__right">
    <h2 class="content-login__right--title">Poc com Angular 17</h2>
    <figure>
      <img
        class="content-login__right--logo"
        src="./assets/images/logo-angular-full.svg"
        alt="Logomarca com a escrita Angular" />
    </figure>
  </section>
</main>
