$text-color: #555555;
$primary-color: #6c00f5;
$primary-bg: #eeeeee;
$secondary-color: #e40035;
$secondary-bg: #f1f3f6;

$primary-text-color: #6c00f5;
$secondary-text-color: #e40035;
$tertiary-text-color: #555555;

$primary-bg-color: #f1f3f6;
$secondary-bg-color: #f1f3f6;
