@import 'variables.scss';

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;

  section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
  }

  .form-section {
    flex-grow: 0.3;

    img {
      margin-bottom: 30px;
      width: 25%;
    }

    h2 {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 45px;
    }

    .btn-wrapper {
      display: flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 30px;

      .divider {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;

        font-size: 1rem;
        color: $color-text-secondary;
        font-weight: 400;
        text-transform: uppercase;

        .line {
          flex-grow: 1;
          height: 2px;
        }
      }

      button {
        width: 100%;
        border-radius: 8px;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 12px 24px;
        cursor: pointer;

        &.btn-primary {
          color: white;
          border: none;
          box-shadow: 0px 8px 12px
            rgba(
              148.23004603385925,
              64.33935597538948,
              255,
              0.20000000298023224
            );
        }

        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }

        &.btn-secondary {
          color: $color-link;
        }
      }
    }
  }

  .main-section {
    gap: 8px;

    flex-grow: 1;
    background-color: $color-bg-primary;

    img {
      max-width: 80%;
      height: auto;
    }
  }
}

@media (max-width: 800px) {
  main {
    .main-section {
      display: none;
    }
  }
}
