<main role="main">
  <section class="form-section">
    <img
      tabindex="0"
      loading="lazy"
      src="./assets/images/logo-angular-mini.svg"
      alt="Logo Angular Mini" />
    <h2>{{ description }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <app-button
        idBtn="entrar"
        classBtn="btn-primary"
        typeBtn="button"
        [ariaLabelBtn]="primaryBtnText"
        [title]="primaryBtnText"
        (click)="submit()"
        [textBtn]="primaryBtnText"
        [disableBtn]="disablePrimaryBtn">
        {{ primaryBtnText }}
      </app-button>
      <div class="divider">
        <div class="line bg-linear-gradient"></div>
        <span>ou</span>
        <div class="line bg-linear-gradient"></div>
      </div>

      <app-button
        idBtn="registrar"
        classBtn="btn-secondary"
        typeBtn="button"
        [ariaLabelBtn]="secondaryBtnText"
        [title]="secondaryBtnText"
        (click)="navigate()"
        [textBtn]="secondaryBtnText">
        {{ secondaryBtnText }}
      </app-button>
    </div>
  </section>
  <section class="main-section">
    <h1>Poc com Angular 17!</h1>
    <img
      tabindex="0"
      loading="lazy"
      src="./assets/images/logo-angular-full.svg"
      alt="Logo Angular full" />
  </section>
</main>
