<main role="main">
  <section class="form-section">
    <img
      tabindex="0"
      loading="lazy"
      src="./assets/images/logo-angular-mini.svg"
      alt="Logo Angular Mini" />
    <h2>{{ description }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button
        class="btn-primary bg-linear-gradient"
        [attr.aria-label]="primaryBtnText"
        [attr.text]="primaryBtnText"
        (click)="submit()"
        [disabled]="disablePrimaryBtn">
        {{ primaryBtnText }}
      </button>
      <div class="divider">
        <div class="line bg-linear-gradient"></div>
        <span>ou</span>
        <div class="line bg-linear-gradient"></div>
      </div>
      <button
        class="btn-secondary border-gradient"
        [attr.aria-label]="secondaryBtnText"
        [attr.text]="secondaryBtnText"
        (click)="navigate()">
        {{ secondaryBtnText }}
      </button>
    </div>
  </section>
  <section class="main-section">
    <h1>Poc com Angular 17!</h1>
    <img
      tabindex="0"
      loading="lazy"
      src="./assets/images/logo-angular-full.svg"
      alt="Logo Angular full" />
  </section>
</main>
