<app-login-default
  description="Acessar Poc!"
  primaryBtnText="Acessar"
  secondaryBtnText="Registre-se"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid">
  <form [formGroup]="loginForm">
    <app-input-string
      formControlName="email"
      inputName="email"
      type="email"
      label="E-mail"
      titleLabel="Digite seu e-mail"
      placeholder="johndoe@gmail.com">
      <span
        aria-label="icone e-mail"
        role="img"
        class="material-symbols-outlined">
        mail
      </span>
    </app-input-string>
    <app-input-string
      formControlName="password"
      inputName="password"
      type="password"
      titleLabel="Digite sua senha"
      label="Senha">
      <span
        aria-label="icone password"
        role="img"
        class="material-symbols-outlined">
        password
      </span>
    </app-input-string>
    <app-button
      idBtn="recuperar"
      classBtn="btn-link"
      typeBtn="button"
      ariaLabelBtn="Recuperar Senha"
      title="Recuperar Senha"
      textBtn="Recuperar Senha">
      Recuperar Senha
    </app-button>

    <input app-input type="text" valuePlaceholder="Off" disabled />
  </form>
</app-login-default>
